.bodyKhtar
{
width: 100vw;
height: 100em;
background-color: #222;
text-align: center;
margin-top: -170px;
}
.bodyKhtar h1
{
color: #fff;
font-family: arial;
margin-top: 15px;
width: 400px;
padding: 20px;
border-radius: 4px;
margin-bottom: 100px;
}
.bodyKhtar .border
{
height: 369px;
width: 290px;
background: transparent;
border-radius: 10px;
transition: border 1s;
position: relative;
}
.bodyKhtar .border:hover
{
border: 1px solid white;
}
.bodyKhtar .card
{ height: 379px;
width: 300px;
background: grey;
border-radius: 10px;
transition: background 0.8s;
overflow: hidden;
box-shadow: 0 70px 63px -60px #000000;
display: flex;
float: left;
margin-left: 8%;
justify-content: center;
align-items: center;
position: relative;
}
.bodyKhtar .card0
{
background: url('alex.png') center center no-repeat;
background-size: 300px;
}
.bodyKhtar .card0:hover
{ background: url('alex.png') left center no-repeat;
background-size: 600px;
}
.bodyKhtar .card0:hover h2
{
opacity: 1;
}
.bodyKhtar .card0:hover p
{
opacity: 1;
}
.bodyKhtar .card0:hover .btn
{
opacity: 1;
}
.bodyKhtar .card1
{
background: url('alex.png') center center no-repeat;
background-size: 300px;
}
.bodyKhtar .card1:hover
{
background: url('alex.png') left center no-repeat;
background-size: 600px;
}
.bodyKhtar .card1:hover h2
{
opacity: 1;
}
.bodyKhtar .card1:hover p
{
opacity: 1;
}
.bodyKhtar .card1:hover .btn
{
opacity: 1;
}
.bodyKhtar .card2
{
background: url('alex.png') center center no-repeat;
background-size: 300px;
}
.bodyKhtar .card2:hover
{
background: url('alex.png') left center no-repeat;
background-size: 600px;
}
.bodyKhtar .card2:hover h2
{
opacity: 1;
}
.bodyKhtar .card2:hover p
{
opacity: 1;
}
.card2:hover .btn
{
opacity: 1;
}
.bodyKhtar h2
{
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
color: white;
margin: 20px;
opacity: 0;
margin-top: 50px;
transition: opacity 1s;
}
.bodyKhtar p
{
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
color: white;
opacity: 0;
margin: 20px;
font-family: arial;
line-height: 20px;
transition: opacity 1s;
}
.bodyKhtar .btn
{
width: 200px;
height: 45px;
background-color: #222;
border-radius: 4px;
border: none;
opacity: 0;
color: #fff;
font-size: 16px;
transition: opacity 1s;
cursor: pointer;
}