@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.bodyMarque{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url('comp.png');

/*background: linear-gradient(315deg, hsla(0, 0%, 0%, 1) 0%, #99c 100%);

background: -moz-linear-gradient(315deg, hsla(0, 0%, 0%, 1) 0%, #99c 100%);

background: -webkit-linear-gradient(315deg, hsla(0, 0%, 0%, 1) 0%, #99c 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#F180CD", GradientType=1 );
  /*background: hsla(271, 75%, 64%, 1);

  background: linear-gradient(90deg, hsla(271, 75%, 64%, 1) 0%, hsla(338, 68%, 67%, 1) 52%, hsla(30, 4%, 19%, 1) 100%);
  
  background: -moz-linear-gradient(90deg, hsla(271, 75%, 64%, 1) 0%, hsla(338, 68%, 67%, 1) 52%, hsla(30, 4%, 19%, 1) 100%);
  
  background: -webkit-linear-gradient(90deg, hsla(271, 75%, 64%, 1) 0%, hsla(338, 68%, 67%, 1) 52%, hsla(30, 4%, 19%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#A45CE8", endColorstr="#E4739D", GradientType=1 );*/
  position: relative;
}
.bodyMarque::before{
  content: '';
  position: absolute;
  width: 100%;
  clip-path: inset(47% 0 0 0);
  z-index: -1;
  height: 100%;
}
::selection{
  background:	#4070f4;
  color: #fff;
}
nav{
  position: fixed;
  background: linear-gradient(to right,black,#b191e93f);
  width: 100%;
  padding: 10px 0;
  z-index: 12;
  top: 0px;
}
nav .menu{
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.menu .logo a{
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.menu ul{
  display: inline-flex;
}
.menu ul li{
  list-style: none;
  margin-left: 7px;
}
.menu ul li:first-child{
  margin-left: 0px;
}
.menu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover{
  background:  rgba(41, 40, 40, 0.525);
  color: white;
}
.containerMarque{
  max-width: 950px;
  width: 100%;
  overflow: hidden;
  padding: 80px 0;
}
.containerMarque .main-card{
  display: flex;
  justify-content: space-evenly;
  width: 200%;
  transition: 1s;
}
#two:checked ~ .main-card{
  margin-left: -100%;
}
.containerMarque .main-card .cards{
  width: calc(100% / 2 - 10px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  justify-content: space-between;
}
.main-card .cards .card{
  width: calc(100% / 3 - 10px);
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}
.main-card .cards .card:hover{
  transform: translateY(-15px);
}
.cards .card .content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cards .card .content .img{
  height: 130px;
  width: 130px;
  border-radius: 50%;
  padding: 3px;
  background: #99c;
  margin-bottom: 14px;
}
.card .content .img img{
  height: 100%;
  width: 100%;
  border: 3px solid #ffff;
  border-radius: 50%;
  object-fit: cover;
}
.card .content .name{
  font-size: 20px;
  font-weight: 500;
}
.card .content .job{
  font-size: 20px;
  color: #99c;
}
.card .content .media-icons{
  margin-top: 10px;
  display: flex;

}
.media-icons a{
  text-align: center;
  line-height: 33px;
  height: 35px;
  width: 35px;
  margin: 0 4px;
  font-size: 14px;
  color: #FFF;
  border-radius: 50%;
  border: 2px solid transparent;
  background: #99c;
  transition: all 0.3s ease;
}
.media-icons a:hover{
  color: #99c;
  background-color: #fff;
  border-color: #99c;
}
 .containerMarque .button{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.button label{
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background: #fff;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.button label.active{
  width: 35px;
}
#one:checked ~ .button .one{
  width: 35px;
}
#one:checked ~ .button .two{
  width: 15px;
}
#two:checked ~ .button .one{
  width: 15px;
}
#two:checked ~ .button .two{
  width: 35px;
}
input[type="radio"]{
  display: none;
}
@media (max-width: 768px) {
  .main-card .cards .card{
    margin: 20px 0 10px 0;
    width: calc(100% / 2 - 10px);
  }
}
@media (max-width: 600px) {
  .main-card .cards .card{
    /* margin: 20px 0 10px 0; */
    width: 100%;
  }
}
